#close:hover
{
  cursor: pointer;

}

p{
    padding: 0;
    margin:10px;
    margin-left: 0;
}
#addLayerdiv{
    position: fixed;
    top: 60px;
    left:252px;
    background: rgba(37, 33, 59, 0.4) ;
    padding: 15px;
    border-radius: 10px;
    padding-right: 10px
}
#addicon{

    margin-left: 3px;
    margin-top: -1px;
    position: absolute;
}
#spinner{
    margin-top: 0px;
    margin-left: 0px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 60%;
    border-top: 16px solid #8fbedd;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 140px;
    margin-top: -34px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }